* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: bisque;
}

form.tags {
	background-color: rgb(196, 176, 176);
	display: flex;
	width: fit-content;
	padding: 20px;
}

.tags input {
	border: none;
	outline: none;
	font-size: 18px;
	background-color: rgb(196, 176, 176);
	/* border-bottom: 1px solid black; */
}
ul {
	list-style-type: none;
	display: flex;
	margin: 0;
}

ul li {
	padding: 5px 10px;
	background-color: antiquewhite;
	margin-right: 10px;
	border-radius: 20px;
	/* width: fit-content; */
}

ul li i {
	margin-left: 10px;
	font-size: small;
	padding: 3px;
	border-radius: 50px;
	transition: all ease 0.5s;
}

ul li i:hover {
	background-color: rgb(236, 113, 113);
	transition: all ease 0.5s;
}

form.category {
	display: flex;
}

form.category input {
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(119, 156, 144);
	margin-right: 40px;
}

form.category select {
	border: none;
	padding: 10px;
	margin-right: 40px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(119, 156, 144);
}

form.attribute {
	display: flex;
	align-items: flex-end;
}

form.attribute input {
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(119, 156, 144);
	margin-right: 40px;
}

form.attribute button {
	height: fit-content;
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(120, 177, 177);
}

.attribute_lists ul {
	display: flex;
	flex-direction: column;
}

.attribute_lists ul li {
	width: fit-content;
}
