* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #e6b9b9;
}

form.tags {
	background-color: rgb(227, 215, 235);
	display: flex;
	width: fit-content;
	padding: 20px;
	border-radius: 4px;
}

.tags input {
	border: none;
	outline: none;
	font-size: 18px;
	background-color: rgb(227, 215, 235);
	/* border-bottom: 1px solid black; */
}
ul {
	list-style-type: none;
	display: flex;
	margin: 0;
}

ul li {
	padding: 5px 10px;
	background-color: antiquewhite;
	margin-right: 10px;
	border-radius: 20px;
	/* width: fit-content; */
}

ul li i {
	margin-left: 10px;
	font-size: small;
	padding: 3px;
	border-radius: 50px;
	transition: all ease 0.5s;
}

ul li i:hover {
	background-color: rgb(227, 215, 235);
	transition: all ease 0.5s;
}

form .category {
	display: flex;
}

form .category input {
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(227, 215, 235);
	margin-right: 40px;
}

form .category select {
	border: none;
	padding: 10px;
	margin-right: 40px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(227, 215, 235);
}

form.attribute {
	display: flex;
	align-items: flex-end;
}

form.attribute input {
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(227, 215, 235);
	margin-right: 40px;
}

form.attribute button {
	height: fit-content;
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(227, 215, 235);
}

.attribute_lists ul {
	display: flex;
	flex-direction: column;
}

.attribute_lists ul li {
	width: fit-content;
}

form .category {
	display: flex;
}

form button {
	height: fit-content;
	border: none;
	padding: 10px;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgb(227, 215, 235);
	transition: all ease 0.7s;
}

form button:hover {
	background-color: rgb(100, 219, 100);
	transition: all ease 0.7s;
}

.category p {
	color: red;
}
